<template>
<div class="with-code-container">
  <div class="play-bar">
    <div
      :style="{
        width: calcColwidth(playGroup.plays.length),
        'margin-right':  (playIdx+1)%playGroup.plays.length === 0 ? 0 : '7px'
      }"
      class="play-bar-item"
      v-for="(play, playIdx) in playGroup.plays"
      :key="play.code + '-play-' + play.id">
        <el-radio
          name="radio"
          v-model="activePlayId"
          :label="play.id"
          key="'radio' + index"
          :disabled="gameClosed">
          {{play.display_name}}
        </el-radio>
        <div class="odds">
          {{ play.odds }}
        </div>
      </div>
  </div>
  <div class="group-block">
    <div class="group-block-title">
      <div>
        <span v-if="!gameClosed">请选择</span>
        <span v-else>封盘</span>
      </div>
    </div>
    <div
      :style="{
        width: calcColwidth(setting.cols),
        'margin-right':  (optionIdx+1)%setting.cols === 0 ? 0 : '7px',
        'margin-bottom': (optionIdx+1)>(optionGroup.length - setting.cols) ? 0 : '7px' }"
      :class="['group-block-item', { active: option.selected && !gameClosed}]"
      v-for="(option, optionIdx) in optionGroup"
      :key="option.id"
      @click="selectOption(play.id)">
        <span :class="[`play result-${game.type} resultnum-${option.num}`]"></span>
        <el-checkbox v-model="option.selected" v-if="!gameClosed"></el-checkbox>
        <el-checkbox disabled v-else></el-checkbox>
    </div>
  </div>
</div>
</template>
<script>
import { ref, computed } from '@vue/composition-api'

export default {
  name: 'WithCode',
  props: {
    playGroup: Object,
    config: Object,
    setting: Object,
    gameClosed: {
      type: Boolean
    },
    plays: Object,
    game: Object
  },
  setup (props) {
    const activePlayId = ref('')
    const calcColwidth = (col) => {
      return `calc((100% - ${(col - 1) * 7}px)/${col})`
    }

    const optionGroup = props.setting.options.map(n => ({
      num: n,
      selected: false
    }))
    const selectedOptions = computed(() => {
      optionGroup.filter(o => o.selected)
    })
    return {
      calcColwidth,
      activePlayId,
      optionGroup,
      selectedOptions
    }
  }
}
</script>

<style lang="scss" scoped>
.with-code-container {
  width: 100%;
  padding: 0 7px;
}
.play-section {
  display: flex;
  flex-wrap: wrap;
}
.play-section,.alias-section {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

.play-bar {
  display: flex;
  width: 100%;
}

.play-bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .el-radio {
    color: #fff;
    margin: 0 0 10px 0;
  }
}

.odds {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  color: $red;
}

.group-block {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.group-block-title {
  color: #7f98b3;
  width: 100%;
  height: 28px;
  text-align: center;
  line-height: 28px;
}
.group-block-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  .name {
    color: #5b6c8b;
  }
  .odds {
    margin-left: 10px;
    color: $red;
  }
  &:hover:not(.active) {
    background: #55627d;
    .name {
      color: #fff;
    }
  }
  &.active {
    border-color: $blue;
    background: $blue;
    .name {
      color: #fff;
    }
  }
}.group-block {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.group-block-title {
  color: #7f98b3;
  width: 100%;
  height: 28px;
  text-align: center;
  line-height: 28px;
}
.group-block-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  .name {
    color: #5b6c8b;
  }
  .odds {
    margin-left: 10px;
    color: $red;
  }
  &:hover:not(.active) {
    background: #55627d;
    .name {
      color: #fff;
    }
  }
  &.active {
    border-color: $blue;
    background: $blue;
    .name {
      color: #fff;
    }
  }
}

</style>
