<template>
  <div class="container" @mouseleave="leaveGroup">
    <div class="group-menu">
      <group-menu-item
        :index="index"
        :group="group"
        :currentGame="currentGame"
        v-for="(group, index) in navGroups"
        :key="group.code"
        @mouseover.native="hoverGroup(group)"/>
    </div>
    <transition name="slide-fade-down">
      <div class="game-menu" v-if="hoveringGroup">
        <span class="arrow" :style="{'left': `${arrowOffset}px`}"></span>
        <div
          v-for="game in hoveringGroup.games"
          :key="game.code"
          :class="['game-menu-item', {active: game.code === currentGame.code}]"
          @click="switchGame(game)">{{game.display_name}}</div>
      </div>
    </transition>
  </div>
</template>

<script>
import { computed, ref } from '@vue/composition-api'
import GroupMenuItem from './GroupMenuItem'

export default {
  name: 'GameMenu',
  components: {
    GroupMenuItem
  },
  props: {
    games: {
      type: Array,
      default: () => []
    },
    gameGroups: {
      type: Array,
      default: () => []
    },
    currentGame: Object
  },
  setup (props, { root }) {
    const navGroups = computed(() => {
      return [{ name: '热门', tag: 'hot', games: props.games.slice(0, 10) }, ...props.gameGroups.slice(0, 9)]
    })

    const hoveringGroup = ref(null)

    const leaveGroup = () => {
      hoveringGroup.value = null
    }
    const hoverGroup = (group) => {
      hoveringGroup.value = group
    }

    let span = (780 - 75 * 10) / 9 + 75
    const arrowOffset = computed(() => {
      if (!hoveringGroup.value) return 0
      let offset = 27
      let idx = navGroups.value.findIndex(g => g.tag === hoveringGroup.value.tag)
      offset = idx * span + offset
      return offset
    })

    const switchGame = (game) => {
      if (props.currentGame && props.currentGame.code === game.code) {
        return
      }
      root.$store.commit('game/saveLastGame', game.id)

      leaveGroup()
      root.$router.push(`/game/${game.id}`)
    }

    return {
      hoveringGroup,
      navGroups,
      leaveGroup,
      hoverGroup,
      arrowOffset,
      switchGame
    }
  }
}
</script>

<style lang="scss" scoped>

$TOTAL_WIDTH: 780px;

.container {
  width: $TOTAL_WIDTH;
}

.group-menu {
  display: flex;
  justify-content: space-between;
  width: $TOTAL_WIDTH;
  height: 75px;
  margin: 0 15px 15px 0;
}

.game-menu {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  flex-wrap: wrap;
  width: $TOTAL_WIDTH;
  background-color: #5d7095;
  color: #fff;
  padding: 0 0 15px 15px;
  z-index: $z-gamemenu;
  .arrow {
    position: absolute;
    left: 0px;
    top: -10px;
    border-top: none;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #5d7095;
  }
}

.game-menu-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 85px;
  padding: 0 5px;
  height: 24px;
  border-radius: 3px;
  border: solid 1px #fff;
  margin: 15px 15px 0 0;
  cursor: pointer;
  &:hover {
   background: #363738;
  }
  &.active {
    background: $blue;
    border-color: $blue;
  }
}

.slide-fade-down-enter-active {
  transition: all .3s ease;
}
.slide-fade-down-leave-active {
  transition: all .3s ease;
}
.slide-fade-down-enter {
  transform: translateY(-10px);
  opacity: 0;
}
.slide-fade-down-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

</style>
