<template>
  <div
    :class="['group-menu-item', color, {active}]">
    <div class="icon"></div>
    {{group.name}}
  </div>
</template>

<script>
import { computed } from '@vue/composition-api'

export default {
  name: 'GameMenuItem',
  props: {
    group: Object,
    currentGame: Object,
    index: Number
  },
  setup (props) {
    const color = computed(() => {
      switch (props.index % 5) {
        case 0:
          return 'red'
        case 1:
          return 'orange'
        case 2:
          return 'blue'
        case 3:
          return 'purple'
        case 4:
          return 'green'
        default:
          return ''
      }
    })
    const active = computed(() => {
      if (!props.currentGame) return false
      return props.group.games.some(g => g.code === props.currentGame.code)
    })
    return {
      color,
      active
    }
  }
}
</script>

<style lang="scss" scoped>
.group-menu-item {
  box-sizing: border-box;
  position: relative;
  width: 75px;
  height: 75px;
  cursor: pointer;
  border-radius: 5%;
  color: #fff;
  padding-top: 10px;
  text-align: center;
  .icon {
    height: 35px;
    width: 35px;
  }
  &.active {
    top: -10px;
  }
  &.red {
    background-image: linear-gradient(to bottom, $gradient-light-red, $gradient-dark-red);
  }
  &.orange {
    background-image: linear-gradient(to bottom, $gradient-light-orange, $gradient-dark-orange);
  }
  &.blue {
    background-image: linear-gradient(to bottom, $gradient-light-blue, $gradient-dark-blue);
  }
  &.purple {
    background-image: linear-gradient(to bottom, $gradient-light-purple, $gradient-dark-purple);
  }
  &.green {
    background-image: linear-gradient(to bottom, $gradient-light-green, $gradient-dark-green);
  }
}
</style>
