<template>
  <div class="bar">
    <div class="bar-item">
      <div class="bar-icon customer-service"></div>
      <div>
        <div class="bar-title">24小时客服</div>
        <p class="bar-content">7 x 24 细致服务到底</p>
      </div>
    </div>
    <div class="bar-item">
      <div class="bar-icon mobile-app"></div>
      <div>
        <div class="bar-title">手机APP</div>
        <p class="bar-content">随时随地畅玩</p>
      </div>
    </div>
    <div class="bar-item">
      <div class="bar-icon agent"></div>
      <div>
        <div class="bar-title">代理</div>
        <p class="bar-content">操作简单 安全方便</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.bar {
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  width: 733px;
  height: 96px;
  background-color: rgba(36, 42, 53, 0.5);
}
.bar-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  border-right: 2px solid #2f3644;
  &:last-child {
    border-right: 0;
  }
}
.bar-icon {
  margin: 0 10px 0 30px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover, cover;
  &.customer-service {
    background-image: url('~@/assets/entryicon/24-icon-1.svg');
  }
  &.mobile-app {
    background-image: url('~@/assets/entryicon/phone-icon.svg');
  }
  &.agent {
    background-image: url('~@/assets/entryicon/oval-icon.svg');
  }
}
.bar-title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.bar-content {
  font-size: 13px;
  font-weight: normal;
}
</style>
