
html {
    height: 100%;
}

body {
    font: 12px/18px "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-weight: lighter;
    min-height: 100%;
    height: 100%;
    background: $dark;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}