<template>
  <div class="form-item">
    <label class="form-label" :for="id">{{ label }}</label>
    <div class="form-content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: String,
    label: String
  }
}
</script>

<style lang="scss" scoped>
.form-item {
  display: flex;
  margin-bottom: 15px;
}
.form-item:before {
  display: table;
  content: "";
}
.form-item:after {
    clear: both;
}
.form-label {
  float: left;
  padding-right: 12px;
  width: 120px;
  font-size: 14px;
  line-height: 45px;
  text-align: right;
  color: $blue;
  vertical-align: middle;
  box-sizing: border-box;
}
.form-content {
  display: flex;
  position: relative;
  width: 310px;
  & > div,button {
    flex: 1;
    height: 100%;
    margin-right: 10px;
  }
  & > :last-child {
    margin-right: 0;
  }
}
</style>
