<template>
  <div>
    <div
      v-for="(row, i) in rows"
      :key="`numRows-${i}`"
      class="result-nums"
    >
      <div
        v-for="(classArray, j) in row"
        :key="`result-${j}`"
        class="ball"
        :class="classArray"
      >
      </div>
    </div>
    <div
      v-if="zodiacRow && type === 'number'"
      class="zodiac-row"
    >
      <div
        v-for="(zodiac, i) in zodiacRow"
        :key="`zodiac-${i}`"
      >
        {{ zodiac }}
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from '@vue/composition-api'
export default {
  name: 'ResultNums',
  props: {
    type: String,
    result: Object
  },
  setup (props, { root }) {
    const game = computed(() => root.$store.getters['game/currentGame'])
    const isMark6 = computed(() => game.value.type === 'mark6')
    const categoryClassMap = {
      oddEven: 'ball_odd_even',
      thanSize: 'ball_than_size',
      tailThanSize: 'ball_tail_than_size',
      ballOfSumOddEven: 'ball_of_sum_number_odd_even',
      ballOfSumThanSize: 'ball_of_sum_number_than_size',
      zodiac: 'ball_chinese_zodiac'
    }
    const maxNumPerRow = 10
    const zodiacPlusIndex = 6
    const resultNums = computed(() => props.result.result_str.split(','))
    const rows = computed(() => {
      let classnames = []
      if (props.type === 'number') { // 數字球
        classnames = resultNums.value.map(num => [`resultnum-${num}`])
        if (isMark6.value) classnames.splice(zodiacPlusIndex, 0, ['text-plus'])
        classnames = classnames.map(clas => clas.concat(`result-${game.value.type}`))
      } else { // 大小、單雙...
        classnames = resultNums.value.map((_num, index) => {
          const name = `${categoryClassMap[props.type]}_${index + 1}`
          return ['result-compared', props.result.result_category[name]]
        })
      }
      return classnames
        .reduce((acc, num) => { // 最多n(maxNumPerRow)個放一排
          const last = acc[acc.length - 1]
          if (last.length < maxNumPerRow) last.push(num)
          else acc.push([num])
          return acc
        }, [[]])
    })
    const zodiacRow = computed(() => {
      if (!isMark6.value) return null
      const row = resultNums.value.map((_num, index) => {
        const name = `${categoryClassMap.zodiac}_${index + 1}`
        return props.result.result_category[name]
      })
      row.splice(zodiacPlusIndex, 0, '')
      return row
    })
    return {
      rows,
      game,
      zodiacRow
    }
  }
}
</script>

<style lang="scss" scoped>
.result-nums {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  .ball:not(:last-child) {
    margin-right: 3px;
  }
}
.zodiac-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  color: #7d95c0;
  div {
    width: 22px;
  }
  div:not(:last-child) {
    margin-right: 3px;
  }
}
</style>
