<template>
  <div>
    <div class="tab-bar">
      <div
        :class="['tab-bar-item', {active: alias === activeAlias}]"
        v-for="alias in playSection.aliases"
        :key="alias"
        @click="switchTab(alias)">
        {{alias}}
      </div>
    </div>
    <slot :playGroup="activePlayGroup"></slot>
  </div>
</template>

<script>
import { computed, ref } from '@vue/composition-api'

export default {
  name: 'PlaySection',
  props: {
    playSection: Object
  },
  setup (props) {
    const activeAlias = ref(props.playSection.aliases ? props.playSection.aliases[0] : null)
    const activePlayGroup = computed(() => {
      return props.playSection.playGroups[activeAlias.value]
    })

    const switchTab = (alias) => {
      activeAlias.value = alias
    }

    return {
      activePlayGroup,
      activeAlias,
      switchTab
    }
  }
}
</script>

<style lang="scss" scoped>
.tab-bar {
  display: inline-block;
  margin-bottom: 15px;
  border: solid 1px $blue;
  border-radius: 3px;
}

.tab-bar-item {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 24px;
  border-right: solid 1px $blue;
  color: #fff;
  &:last-child {
    border: none;
  }
  cursor: pointer;
  &:hover {
   background: $blue;
  }
  &.active {
    background: $blue;
    border-color: $blue;
  }
}
</style>
