<template>
  <div class="chatroom-message" :class="{ 'self': self }">
    {{ content }}
  </div>
</template>

<script>
export default {
  name: 'Message',
  props: {
    content: String,
    self: Boolean
  }
}
</script>

<style lang="scss" scoped>
@import "../chatroom.scss";
.chatroom-message {
  width: auto;
  display: inline-block;
  max-width: $content-width;
  word-break: break-all;
  background-color: $white;
  color: $dark;
  padding: 5px 5px 5px 10px;
  white-space: pre-wrap;
}
.chatroom-message.self {
  padding: 5px 10px 5px 5px;
  background-color: $blue;
  color: $white;
}
</style>
