<template>
  <div class="chatroom-image" :class="{ 'wrap--self': self }">
    <img
      :src="content"
      alt="图片遗失"
      @load="onLoad"
    >
  </div>
</template>

<script>
export default {
  name: 'Message-Picture',
  props: {
    content: String,
    self: Boolean
  },
  setup (_props, { emit }) {
    const onLoad = e => {
      emit('imageLoaded', e)
    }
    return {
      onLoad
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../chatroom.scss";
.chatroom-image {
  width: auto;
  display: inline-block;
  max-width: $content-width;
  background-color: $white;
  color: $dark;
  padding: 5px 10px 5px 5px;
  img {
    max-width: 100%;
  }
}
</style>
