<template>
  <div class="container">
    <div class="header">
      <div class="name">{{currentGame.display_name}}</div>
      <div class="icon"></div>
      <span class="issue">距离 {{ realSchedule || schedule.issue_number }} 期</span>
      <span class="close">封盘</span>
      <span class="time">
        <template v-if="!closeCountDown">···</template>
        <template v-else-if="!gameClosed">
          <span v-if="closeCountDown.days > 0">{{closeCountDown.days}}天 </span>
          <span v-if="closeCountDown.hours > 0">{{fillZero(closeCountDown.hours)}}:</span>{{fillZero(closeCountDown.minutes)}}:{{fillZero(closeCountDown.seconds)}}
        </template>
        <template v-else>已封盘</template>
      </span>
    </div>
    <div class="tab-bar">
      <router-link tag="div" :to="`/game/${gameId}`" :class="['tab-bar-item', {active: currentPage === 'GameCategory'}]">投注</router-link>
      <router-link tag="div" :to="`/game/${gameId}/history`" :class="['tab-bar-item', {active: currentPage === 'History'}]">历史开奖</router-link>
      <router-link v-if="hasTrendChart" tag="div" :to="`/game/${gameId}/trend`" :class="['tab-bar-item', {active: currentPage === 'Trend'}]">开奖走势</router-link>
      <router-link v-if="hasAccumulationStatistic" tag="div" :to="`/game/${gameId}/accumulation-statistic`" :class="['tab-bar-item', {active: currentPage === 'AccumulationStatistic'}]">长龙助手</router-link>
      <router-link v-if="hasAccumulationTrend" tag="div" :to="`/game/${gameId}/accumulation-trend`" :class="['tab-bar-item', {active: currentPage === 'AccumulationTrend'}]">路珠图</router-link>
    </div>
    <router-view />
  </div>
</template>

<script>
import { computed, ref, watch, onUnmounted } from '@vue/composition-api'
import ghost from '@/api/ghost'
export default {
  name: 'Game',
  setup (props, { root }) {
    const gameId = root.$route.params.gameId
    const categories = computed(() => root.$store.state.game.categories[gameId] || [])
    const currentCategoryId = computed(() => root.$route.params.categoryId)

    const chooseCategroy = () => {
      if (root.$route.name !== 'Game') return
      let id = root.$store.state.game.lastGameData.lastCategory[gameId] || categories.value[0].id
      root.$router.replace({ path: `/game/${gameId}/${id}` })
    }

    if (!currentCategoryId.value) {
      if (categories.value.length > 0) {
        chooseCategroy()
      } else {
        const stop = watch(categories, () => {
          chooseCategroy()
          stop()
        }, { lazy: true })
      }
    }

    const currentPage = computed(() => {
      return root.$route.name
    })

    watch(() => root.$route, (to, from) => {
      if (to.path === `/game/${gameId}`) {
        chooseCategroy()
      }
    }, { lazy: true })

    const currentGame = computed(() => {
      return root.$store.getters['game/currentGame'] || {}
    })

    // 開獎倒數
    const schedule = ref({})
    const diffBetweenServerAndClient = ref(0)
    const realSchedule = ref('')
    const scheduleInterval = ref(null)
    const isStartSchedule = ref(false)
    const closeCountDown = ref(null)
    const resultCountDown = ref(null)
    const gameClosed = ref(false)

    scheduleInterval.value = setInterval(() => {
      if (isStartSchedule.value) {
        if (!schedule.value || !schedule.value.id) {
          return
        }
        const closeTime = schedule.value.schedule_close
        const resultTime = schedule.value.schedule_result
        closeCountDown.value = diffTime(closeTime)
        resultCountDown.value = diffTime(resultTime, true, true)
      }
    }, 1000)

    const fetchSchedule = () => {
      if (!currentGame.value) {
        return
      }

      let promises = [ghost.fetchSchedule(currentGame.value.id, currentGame.value.code)]

      if (currentGame.value.code === 'hkl') {
        promises.push(ghost.fetchGameResult(currentGame.value.id))
      }

      Promise.all(promises).then(results => {
        const currentSchedule = results[0][0]
        if (currentSchedule) {
          schedule.value = currentSchedule
          let serverTime = root.$moment(currentSchedule.schedule_result)
          schedule.value.schedule_result = root.$moment().add(currentSchedule.result_left, 's')
          diffBetweenServerAndClient.value = serverTime.diff(schedule.value.schedule_result)
          schedule.value.schedule_close = root.$moment().add(schedule.value.close_left, 's')
        } else {
          closeCountDown.value = {
            days: 0,
            hours: 0,
            minutes: 0,
            seconds: 0
          }
        }

        // 六合彩
        if (results[1]) {
          const result = results[1][0]
          let realScheduleIssueNumber = parseInt(result.issue_number)
          let estimateScheduleIssueNumber
          // 六合彩至多149期，所以149期下一期跳001期為合理
          if (!schedule.issue_number.endsWith('001') || !result.issue_number.endsWith('149')) {
            estimateScheduleIssueNumber = parseInt(schedule.issue_number)
            if (estimateScheduleIssueNumber - 1 > realScheduleIssueNumber) { // 差超過一期，表示可能尚未抓到開獎結果
              realSchedule.value = `${realScheduleIssueNumber + 1}`
            }
          }
        }

        startScheduleTimer()
      }).catch(() => { })
    }

    fetchSchedule()

    const startScheduleTimer = () => {
      if (!schedule.value || !schedule.value.id) {
        return
      }
      isStartSchedule.value = true
    }

    const diffTime = (target, flag, noDayField = false) => {
      const duration = root.$moment.duration(target.diff())
      let days = duration.days()
      let hours = duration.hours()
      let minutes = duration.minutes()
      let seconds = duration.seconds()

      if (noDayField && days > 0) {
        hours += (days * 24)
        days = 0
      }

      if (flag && (days + hours + minutes + seconds <= 0)) {
        isStartSchedule.value = false
        fetchSchedule()
      }

      days = days < 0 ? 0 : days

      hours = hours < 0 ? 0 : hours
      minutes = minutes < 0 ? 0 : minutes
      seconds = seconds < 0 ? 0 : seconds
      return {
        days,
        hours,
        minutes,
        seconds
      }
    }

    const hasTrendChart = computed(() => {
      if (!currentGame.value.tags) return
      return currentGame.value.tags.includes('trend-chart')
    })
    const hasAccumulationStatistic = computed(() => {
      if (!currentGame.value.tags) return
      return currentGame.value.tags.includes('accumulation-statistic')
    })
    const hasAccumulationTrend = computed(() => {
      if (!currentGame.value.tags) return
      return currentGame.value.tags.includes('accumulation-trend')
    })

    onUnmounted(() => {
      clearInterval(scheduleInterval.value)
    })

    return {
      gameId,
      currentGame,
      currentCategoryId,
      currentPage,
      realSchedule,
      schedule,
      closeCountDown,
      gameClosed,
      fillZero: (value) => {
        value = parseInt(value)
        return value < 10 ? ('0' + value) : (value + '')
      },
      hasTrendChart,
      hasAccumulationTrend,
      hasAccumulationStatistic
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  box-sizing: border-box;
  width: 100%;
  color: #3f4c64;
  padding-bottom: 20px;
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0 15px;
  .name {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-right: 10px;
  }
  .icon {
    width: 18px;
    height: 18px;
    background: url('~@/assets/gamehall/sound-off.svg') no-repeat center;
    background-size: contain;
    margin-right: 5px;
  }
  .issue {
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
  }
  .close {
    color: #9b9b9b;
    font-size: 14px;
    margin-right: 5px;
  }
  .time {
    color: $red;
  }
}
.tab-bar {
  display: flex;
  align-items: center;
  height: 55px;
  padding-left: 15px;
}
.tab-bar-item {
  width: 68px;
  height: 26px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $blue;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
  &.active {
    background: $blue;
  }
  &:hover:not(.active) {
    background: rgba(255, 255, 255, .3);
  }
}

.category-tab {
  display: flex;
  height: 40px;
  background: #495876;
  padding-left: 15px;
}
.category-tab-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0 15px;
  color: #fff;
  cursor: pointer;
  &.active {
    color: $blue;
    border-bottom: 2px solid $blue;
  }
}
</style>
